/* `important` tags are needed :(, sorry! */

@-moz-document url-prefix("chrome:") {
	/* Element | chrome://browser/content/browser.xhtml */
	#nav-bar {
	  display: flex;
	}
	
	#nav-bar > * {
		order: 2 !important;;
	}
	
  /* Move mac icons to the left	 */
	#nav-bar :last-child {
	   order: 1 !important;;	
	}

	/* Element | chrome://browser/content/browser.xhtml */
  /* center the buttons */
  toolbar#nav-bar > hbox.titlebar-buttonbox-container > hbox.titlebar-buttonbox	{
		display: flex;
	  flex-direction: row;
	  width: fit-content;
	  justify-content: center;
	  align-items: center;
	  gap: .4rem;
	  padding: 0 .4rem;
	}
		
  /* make the buttons smaller */
	.titlebar-buttonbox > toolbarbutton {
	  padding: 0 10px !important;
		height: 50%;
	}
	
  /* remove the windows button images */
	.titlebar-buttonbox > toolbarbutton > image {
	  display: none;
	}

  /* add pseudo elements for mac circles */
	.titlebar-buttonbox > .titlebar-button::before {
	  content: "";
	  min-width: 10px;
	  aspect-ratio: 1;
	  border-radius: 50%;
		border-width: 1px;
		border-style: solid;
	}
	
  /* red - close */
	.titlebar-buttonbox > .titlebar-close::before {
		background: #ec6a5d;
	  border-color: #ba2516;
	}
	
  /* ylw - minimize */
	.titlebar-buttonbox > .titlebar-min::before {
		background: #f4be4f;
	  border-color: #c0850c;
	}
	
  /* grn - maximize	 */
	.titlebar-buttonbox > :is( .titlebar-max, .titlebar-restore )::before {
	  background: #27ca41;
	  border-color: #177726;
	}

  /* move the maximize (green) to the right */
	.titlebar-buttonbox > :is( .titlebar-max, .titlebar-restore ) {
	  order: 3;
	}

	/* move the minimize (yellow) to the middle */
	.titlebar-buttonbox > .titlebar-min {
	  order: 2;
	}

  /* add background color and roundness to the buttons */
	hbox.titlebar-buttonbox > toolbarbutton {
		border-radius: 5px;
		transition: background-color 200ms ease-in-out 100ms;
	}

	.titlebar-button:hover {
		cursor: pointer;
	}
		
	hbox.titlebar-buttonbox > toolbarbutton:hover {
		background-color: #fff1 !important;
		transition: background-color 200ms ease-in-out;
	}
}


/* Centered toolbar items */
@-moz-document url-prefix("chrome:") {
	/* Element | chrome://browser/content/browser.xhtml */
	toolbar#zen-sidebar-icons-wrapper {
		display: flex !important;
		flex-direction: row !important;
		flex-wrap: wrap !important;
		justify-content: center !important;
	}
	
	toolbar#zen-sidebar-icons-wrapper > toolbarbutton {
    flex: 1;
	}
}

#navigator-toolbox {
	--zen-navigation-toolbar-min-width: 214px !important;
}

#appcontent {
	display: flex;
	flex-direction: column;
		
	width: fit-content !important;
	max-width: fit-content !important;
	
	flex: 0 !important;
	
	overflow: visible !important;
}

#nav-bar {
	display: grid !important;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr calc(2 * var(--toolbarbutton-inner-padding) + 18px + 15px);
	flex-direction: column-reverse !important;
}

.titlebar-buttonbox-container {
	grid-row-start: 1 !important;
	grid-column-start: 1;
}

#PanelUI-button {
	grid-row-start: 1;
	
	display: flex;
	justify-content: end;
}


#nav-bar-customization-target {
	all: unset !important;
	
	grid-column-start: 1 !important;;
	grid-column-end: 3 !important;;
	
	min-width: 0 !important;
	flex: 1;
	
	display: grid !important;
	justify-content: space-evenly !important;
	grid-template-columns: repeat( 5, 1fr ) !important;
}

#urlbar-container {
	grid-column-start: 1;
	grid-column-end: 6;
	grid-row-start: 1;
}

#titlebar-buttonbox-container {
	grid-row-start: 1 !important;
	grid-row-end: 2 !important;
	grid-column-start: 1 !important;
	grid-column-end: 2 !important;
}

#nav-bar-customization-target > :is( toolbarbutton, toolbaritem ) {
	display: block;
	width: min-content;
}

#nav-bar {
	display: flex;
	flex-direction: column;
}


#zen-tabbox-wrapper {
	position: relative !important;
	width: fit-content;
}

#nav-bar > toolbartabstop {
	display: none;
}

#tabbrowser-tabbox {
  position: absolute !important;
	
	margin-left: 100%;
	
	--t-margin: -115px;
		
	height: calc( 100% + -1 * var( --t-margin ) );
	width: calc( 100vw - 100% ) !important;
	
	top: var( --t-margin ) !important;
}

#urlbar-container {
	min-width: 0 !important;
}

#browser {
  width: fit-content;
}

#urlbar-background {
  max-width: 0px !important;
}

#urlbar-container {
  width: calc( 100% - 10px ) !important;
	flex: 1 !important;
}
